// ******************************************
// ALl components style
// ******************************************
.w450 {
    max-width: 480px;
    margin: 0px auto;
}

.w480 {
    max-width: 500px;
    margin: 0px auto;
}
.w550 {
    max-width: 540px;
    margin: 0px auto;
}
.w574 {
    max-width: 574px;
    margin: 0px auto;
}
.w730 {
    max-width: 736px;
    margin: 0px auto;
}

ul{
    padding:0px;
    margin:0px;
}

.pbt-50 { padding-bottom:50px !important;}
.marginB10 { margin-bottom: 10px !important;}
.marginT10 { margin-top: 10px;}
.marginT80 {
    margin-top: 50px !important;

    @include media-size(big-mobile) {
        margin-top: 80px !important;
    }
}

// style for profile page
.profile {
    padding: 10px 0px 0px 0 !important;


    h3 {
        position: relative;

        span a {
            font-family: $font-rustica-500;
            @include font-size($font-size-16);
            text-transform: uppercase;
            position: absolute;
            right: 0px;
        }
    }

    p {
        margin-bottom: 15px;
        color: $gray700;
    }

    .label {
        font-family: $font-rustica-500;
        margin-bottom: 5px;
        color: $black;
    }

    .h3 {
        span a {
            position: absolute;
            top: 0px;
            right: 0px;
            font-family: $font-rustica-500;
            @include font-size($font-size-16);
            text-transform: uppercase;
        }
    }

    .photos {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        .photo {
            width: 145px;
            height: 145px;
            object-fit: cover;
            aspect-ratio: 1/1;
            object-position: center;
            margin-bottom: 15px;

            &:nth-child(2) {
                margin-left: 15px;
                margin-right: 0px;

                @include media-size(big-mobile) {
                    margin-right: 15px;
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    .review-photos {
        &:nth-child(2) {
            margin-right: 15px;
        }
    }
}

// hidden input style
.hiddenValue {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    padding: 0px;
}

*:focus-visible, .btn:focus-visible {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
}

.btn:focus-visible {
    background-color: var(--secondary-color-hover);
    box-shadow: 0px 0px 5px 5px rgb(240 147 0 / 40%);
}

//Error Page
.error-page {
    .sub-header {
        @include font-size($font-size-24);
    }

    .ctas {
        .btn {
            min-width: 140px;
        }

        .btn-secondary {
            margin-left: 20px;
        }
    }

    .call {
        margin-top: 20px;
        line-height: 220%;
        margin: 25px 0px 0px 0px;

        @include media-size(big-mobile) {
            margin: 25px 0px;
        }
    }
}
.events-loaded, .events-loaded-executive, .remove-button {
    display: none;
}

.Error-internal-server {
    .account, .navbar {
        display: none;
    }
}
