// ******************************************
// Fonts
// ******************************************
@font-face {
    font-family: 'RusticaLight';
    src: url('/fonts/rustica-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rustica';
    src: url('/fonts/rustica-regular.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Florensans';
    src: url('/fonts/Florensans.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
